<div class="container-fluid page">
  <div class="page__box p-3 mt-2">{{ action }} Clients</div>
  <div class="page__content shadow p-3 position-relative">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-info" routerLink="/clients/clients">
          Volver
        </button>
      </div>
      <form  [formGroup]="myForm">
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="id">id: {{assignId}}</label>
          </div>
          <div class="form-group col-sm-12">
            <mat-label>Name:</mat-label>
            <mat-form-field appearance="fill" [style.fontSize.px]=16>
              <mat-label>name</mat-label>
              <input customFocus matInput type="text" formControlName="name">
            </mat-form-field>
          </div>
          <div class="form-group col-sm-12">
            <label for="name">Adress:</label>
            <mat-form-field appearance="fill" [style.fontSize.px]=16>
              <mat-label>Adress</mat-label>
              <input  matInput formControlName="adress">
            </mat-form-field>
          </div>
        </div>
        <button type="submit" [disabled]="myForm.invalid" class="btn btn-outline-primary button-ubication" (click)="onSubmit()">Submit</button>
      </form>
  </div>
</div>
