<mat-nav-list>
  <div class="logo py-4">
    <img src="" alt="">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLink="dashboard" routerLinkActive="list-item-active">
    <mat-icon>Dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item routerLink="home">
    <mat-icon>edit</mat-icon>Link 3
  </a>
  <a mat-list-item routerLink="/home" >
    <mat-icon>edit</mat-icon>Link 2
  </a>
  <a mat-list-item routerLink="/home">
    <mat-icon>edit</mat-icon>Link 2
  </a>
</mat-nav-list>
